catboost @ https://pypi.org/packages/cp310/c/catboost/catboost-1.2.7-cp310-cp310-macosx_11_0_universal2.whl#sha256=12cd01533912f3b2b6cf4d1be7e7305f0870c109f5eb9f9a5dd48a5c07649e77
cmdstanpy==1.2.5
curl_cffi==0.11.3
DAWG2-Python==0.9.0
fsspec==2025.5.1
hf-xet==1.1.5
holidays==0.76
huggingface-hub==0.34.0
llvmlite==0.42.0
matplotlib==3.10.1
mplcyberpunk==0.7.6
munkres==1.1.4
opencv-python==4.6.0
prophet==1.1.7
protobuf==3.20.3
py-cpuinfo==9.0.0
pyarrow==9.0.0
pymorphy3==2.0.4
pymorphy3-dicts-ru==2.4.417150.4580142
PyWavelets==1.8.0
safetensors==0.5.3
segmentation_models_pytorch==0.5.0
stanio==0.5.1
timm==1.0.19
torch==2.2.2
torchaudio==2.2.2
torchutils==0.0.4
torchvision==0.17.2
ultralytics==8.3.169
ultralytics-thop==2.0.14
websockets==15.0.1
wordcloud==1.9.4
yfinance==0.2.63
zstandard==0.23.0
